body{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: honeydew;
    font-size: 20px;
    background-color: #8B9EB7;
}

.logo_titulo{
    margin-left: 46%;
}

img{
    width: 100px;
    margin-left: -90px;
    margin-top: 12px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    border-radius: 12px;
    top: 50%;
    left: 0;
    right: 0;
    align-items: center;
    text-align: center;
    width: 546px;
    height: 33vh;
    padding: 35px;
    margin: -156px auto 0 auto;
    background-color: #001D4A;
    box-shadow: -4px -1px 20px 0px #131111b8, 0px 0px 20px 17px #ffffffeb;
}

.container input[type=number]:focus{
    outline: none;
    color:honeydew;
}

.container input[type=number]{
    display: block;
    padding: 2px 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: #ffffff 2px solid;
    color: #ffffff;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
} 

.container #btn_calcular{
    cursor: pointer;
    border-radius: 11px;
    height: 47px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    font-size: 20px;
    transition: 0.2s;
}
.container #btn_calcular:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #8B9EB7;
    border: #001D4A;
    color: #ffffff;
}