
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #21b0a8;
}

.container{
  width: 80%; 
  margin: auto;
  height: 50px;
}

.btn-orange{
  background-color: orangered;
  color: #ffffff;
  border: none;
  width: 60px;
  height: 25px;
}

.header{
  background-color: #ffffff;
  height: 80px;
  padding-top: 30px;
  border-bottom: #00534f solid 5px;
}

.header .nav .home, 
.header span{

  color: #21b0a8;
}

.title-header h1,
.nav ul
{
  margin: 0;
}

.title-header{
  float: left;
  color: #ffffff;
}

.nav{
  float: right;
}

.nav a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}
.showcase{
  background-image: url(../img/nossa-equipe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:  rgb(0, 160, 160);
  text-align: center;
  min-height: 400px;
  border-bottom: #00534f solid 5px;
  padding-top: 30px;
}

.showcase h1{
  margin: 0;  
  font-size: 55px;
  padding-top: 100px;
}

.login{
  padding: 0px 25px 0px;
  background-color: #ffffff;
  color: #21b0a8;
}

.login h1{
  margin: 0;
  float: left;
}
.login form{
  float: right;
}

.login input{
  height: 20px;
  width: 220px;
}

.box{
  overflow: auto;
}

.box .box-item{
text-align: center;
width: 300px;
float: left;
margin: 40px 20px 0px 20px;
color: orangered;
}

.box img{
height: 100px;

}
/**esse é o pé do site **/
.footer {
  background-color:#00534f ;
  overflow: auto;
  
}
.footer {
  text-align: center;
  margin: 0px;
  padding: 20px;
 
}
