#t-1fb583c4-8565-4e93-9e56-e1dbf41148e1 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-1fb583c4-8565-4e93-9e56-e1dbf41148e1 > #alignmentBox {
  position: relative;
  max-width: 1366px;
  max-height: 768px;
}
#t-1fb583c4-8565-4e93-9e56-e1dbf41148e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}