body{
    background-color: #8B9EB7;
}

#chart{
    background-color: #ffffff;
}

header{
    background-color: #001D4A;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 24px;
    border-bottom: 4px white solid;
}

.container_grafico{  
    height: 38vh;
    width: 61vw;
    box-shadow: -4px -1px 20px 0px #131111b8, 0px 0px 20px 17px #ffffffeb;
}


.conteiner_total{
    height: 40vh;
    width: 62vw;
    margin-left: 16%;
    padding-left: 5px;
    padding-top: 7px;
}

#mostrador{
    margin-left: 82vh;
}

header img{
    height: 100px;
}

h4{
    color: #ffffff;
    font-size: 1.9em;
    margin-right: 80vw;
    float: right;
}

.div_container canvas{
    background-color: #ffffff;
    height: 29.6vh;
}